@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    color:#34495E;
    background-color: #f4f5f7;
}

.ajaxText {
    font:0.8em normal Arial,sans-serif;
    color: red;
}

.required {
    color: red;
    font-size: 0.8em;
}